# Arduino Uno (ttyACM*)
SUBSYSTEM=="tty", ATTRS{idVendor}=="2341", ATTRS{idProduct}=="0043", MODE="0666", GROUP="dialout", SYMLINK+="arduino"

# CAEN NIM/Desktop HV Power Supply (ttyACM*)
SUBSYSTEM=="tty", ATTRS{idVendor}=="21e1", ATTRS{idProduct}=="0003", MODE="0666", GROUP="dialout", SYMLINK+="hv_supply"

# Silicon Labs CP2105 USB-to-UART Bridge (used for KCU board console)
SUBSYSTEM=="tty", ATTRS{idVendor}=="10c4", ATTRS{idProduct}=="ea70", MODE="0666", GROUP="dialout", SYMLINK+="kcu_uart"

# Julabo Chiller
SUBSYSTEM=="tty", ATTRS{idVendor}=="0483", ATTRS{idProduct}=="5740", MODE="0666", GROUP="dialout", SYMLINK+="chiller"

# SIGLENT SPD3303X-E LV Power Supply
SUBSYSTEM=="usb", ATTRS{idVendor}=="f4ec", ATTRS{idProduct}=="1430", MODE="0666", GROUP="dialout", SYMLINK+="lv_supply"